/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family: "Madame Cosmetics";
    src: url("Madame_Cosmetics.eot?") format("eot"),
         url("Madame_Cosmetics.woff") format("woff"),
         url("Madame_Cosmetics.ttf") format("truetype"),
         url("Madame_Cosmetics.svg#MadameCosmetics") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "Lemonberry";
    src: url("MRF_Lemonberry_Sans.eot?") format("eot"),
         url("MRF_Lemonberry_Sans.woff") format("woff"),
         url("MRF_Lemonberry_Sans.ttf") format("truetype"),
         url("MRF_Lemonberry_Sans.svg#MRFLemonberrySans-Medium") format("svg");
    font-weight:normal;
    font-style:normal;
}
